Mathematically prove that invariant breaks.
- for maths functions
- Halmos
- Certora